{{ template "header" }}
    <body>
        <header><a href="https://www.github.com/chayev/yurl" id="github-home" target="_blank" rel="noopener" title="Go to the GitHub project" aria-label="Go to the GitHub project"><i class="fab fa-github"></i></a></header>
        <main>
            <h1><span id="name">yURL</span>: Universal Links / AASA File Validator</h1>
            <p>yURL allows you to validate whether a URL is properly configured for Universal Links. This allows you to check if the apple-app-site-association (AASA) file exists and is in the proper format as <a href="https://developer.apple.com/documentation/safariservices/supporting_associated_domains" target="_blank" rel="noopener" aria-label="Apple Universal Links Requirements">defined by Apple</a>.</p>
            <form method="GET" action="/results">
                <input type="text" name="url" placeholder="Enter a URL test (e.g. https://app.chayev.com/xyx)" tabindex="1" />
                <input type="text" name="prefix" placeholder="Apple App Prefix (Optional)" tabindex="2" />
                <input type="text" name="bundle" placeholder="Bundle Identifier (Optional)" tabindex="3" />
                <input type="submit" value="Validate" tabindex="4" />
            </form>
        </main>
        {{ template "footer" . }}
    </body>
</html>
