{{ template "header" }}
    <body class="home">
        <header><a href="https://www.github.com/chayev/yurl" id="github-home" target="_blank" rel="noopener" title="Go to the GitHub project" aria-label="Go to the GitHub project"><i class="fab fa-github"></i></a></header>
        <main id="home">
            <h1><span id="name">yURL</span>: Deep Linking Validator</h1>
            <h2><span>iOS Universal Links and Android App Links</span></h2>
            <p>yURL allows you to validate whether a URL is properly configured for Universal Links and App Links. This allows you to check if the apple-app-site-association and assetlinks.json on a website is properly formatted for deep links as defined by Apple and Google.
            <br><br>Enter a URL and select whether you want to validate on iOS or Android to see the results.</p>
            <form id="form" method="GET" action="/ios-results">
                <input type="text" name="url" placeholder="Enter a URL test (e.g. https://app.chayev.com/xyx)" tabindex="1" />
                <div id="toggle-container">
                    <div id="toggle-wrapper">
                        <div class="toggle-labels" id="toggle-label-left">iOS</div>
                        <input type="checkbox" id="switch" /><label id="toggle" for="switch">Toggle</label>
                        <div class="toggle-labels" id="toggle-label-right">Android</div>
                    </div>
                </div>
                <input type="submit" value="Validate" tabindex="4" />
            </form>
            <script>
                var x = 1;
                document.getElementById('switch').onchange = function () {
                    x *= -1
                    if(x > 0){
                        document.getElementById('form').action = "/ios-results"; 
                    } else {
                        document.getElementById('form').action = "/android-results"; 
                    }
                };
            </script>
        </main>
        {{ template "footer" . }}
    </body>
</html>
