{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>yURL: Universal Links / App Links Validator</title>
    <link
      rel="icon"
      type="image/png"
      href="https://img.icons8.com/metro/26/000000/link.png"
      crossorigin="anonymous"
    />
    <link href="/static/css/sanitize.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/8c05e09944.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="Description"
      content="yURL allows you to validate whether a URL is properly configured for Universal Links and App Links. This allows you to check if the apple-app-site-association and assetlinks.json on a website is properly formatted for deep links as defined by Apple and Google."
    />
    <script>
      if (window.location.hostname === 'yurl.chayev.com') {
        !(function () {
          var analytics = (window.analytics = window.analytics || [])
          if (!analytics.initialize)
            if (analytics.invoked)
              window.console &&
                console.error &&
                console.error('Segment snippet included twice.')
            else {
              analytics.invoked = !0
              analytics.methods = [
                'trackSubmit',
                'trackClick',
                'trackLink',
                'trackForm',
                'pageview',
                'identify',
                'reset',
                'group',
                'track',
                'ready',
                'alias',
                'debug',
                'page',
                'once',
                'off',
                'on',
                'addSourceMiddleware',
                'addIntegrationMiddleware',
                'setAnonymousId',
                'addDestinationMiddleware',
              ]
              analytics.factory = function (e) {
                return function () {
                  var t = Array.prototype.slice.call(arguments)
                  t.unshift(e)
                  analytics.push(t)
                  return analytics
                }
              }
              for (var e = 0; e < analytics.methods.length; e++) {
                var key = analytics.methods[e]
                analytics[key] = analytics.factory(key)
              }
              analytics.load = function (key, e) {
                var t = document.createElement('script')
                t.type = 'text/javascript'
                t.async = !0
                t.src =
                  'https://cdn.segment.com/analytics.js/v1/' +
                  key +
                  '/analytics.min.js'
                var n = document.getElementsByTagName('script')[0]
                n.parentNode.insertBefore(t, n)
                analytics._loadOptions = e
              }
              analytics.SNIPPET_VERSION = '4.13.1'
              analytics.load('3cHlWjwEGL7unR570GHLj6wQBQtbyLTk')
              analytics.page()
            }
        })()
      }
    </script>
    <meta
      name="google-site-verification"
      content="AM76uKx2T0lzw7yUtGwpNmWBag6_y-yYGZBb3HzADHc"
    />
  </head>
{{end}}
