#header {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  align-items: center;
}

#header > div {
  display: flex;
  margin-right: auto;
  align-items: center;
}

#header-title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 8px;
  white-space: nowrap;
}

#header .fa-github {
  color: #333;
  font-size: 40px;
  line-height: 70px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #94d7f4;
  font-family: Inter, Helvetica, Arial, sans-serif;
  color: #0d0f11;
}

.apple {
  background-color: #94d7f4;
}

.android {
  background-color: #9fd1a4;
}

#container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

#container-results {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - (70px + 66.39px));
}

#results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 900px;
  max-width: 1024px;
  margin: 0 8px;
  padding: 16px;
}

#form-container,
#info-container {
  width: 50%;
  padding: 20px 50px;
  max-width: 600px;
}

#info-container {
  border-right: 1px solid grey;
}

#aasa {
  white-space: nowrap;
}

h2 {
  margin-top: 0;
}

#form-wrapper {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

#form-wrapper h2 {
  text-align: center;
  margin-top: 16px;
}

form {
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

#accordion {
  display: flex;
  justify-content: space-between;
  padding: 16px 4px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

#chevron {
  width: 20px;
  height: 20px;
}

.input-wrapper #options {
  display: none;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.input-wrapper label {
  font-size: 12px;
}

#bundle,
#prefix,
#url {
  border-radius: 8px;
  padding: 8px;
  border: 1px solid gray;
}

#results-title {
  text-align: center;
}

#submit-button {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

#result-form-input-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.result-form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.result-form-input-narrow {
  width: 20%;
}

.result-form-input input {
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.result-form-input label {
  margin-bottom: 2px;
  font-size: 14px;
  color: #171717;
}

#submit-icon {
  margin-top: 18px;
}

.fa-redo-alt {
  font-size: 30px;
  color: #333;
}

pre {
  border: 1px solid #333;
  width: 100%;
  height: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 6px;
  border-color: lightgray;

  text-align: left;
  overflow-y: scroll;
  white-space: pre-wrap;
  font-size: 14px;
}

footer {
  margin-top: auto;
  align-self: center;
  padding: 24px 0;
}

.result-button {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.copy {
  background-color: #1d4ed8;
  color: white;
}

.deeplink-android {
  display: flex;
  justify-content: center;
  background-color: #9fd1a4;
  color: white;
}

.deeplink-ios {
  display: flex;
  justify-content: center;
  background-color: #94d7f4;
  color: white;
}

.deeplink-android img {
  margin-left: 8px;
}

.deeplink-ios img {
  margin-left: 8px;
}

#bottom-buttons-wrapper {
  display: flex;
  width: 100%;
  gap: 8px;
}

#result-form-mobile-submit {
  display: none;
  color: white;
  background-color: #1d4ed8;
  border: unset;
}

a {
  text-decoration: none;
  color: #0d0f11;
}

a:visited {
  color: unset;
}

@media screen and (max-width: 768px) {
  /* Home screen -- start */
  #container {
    flex-direction: column-reverse;
    padding: 0 30px;
    align-items: center;
  }

  #form-container,
  #info-container {
    width: 100%;
    padding: 35px 0;
    max-width: 400px;
  }

  #info-container {
    border-right: none;
    border-top: 1px solid #647488;
  }
  /* Home screen -- end */

  /* Results screen -- start */
  #results-wrapper {
    padding: 12px;
  }

  #results-title {
    margin-bottom: 8px;
  }
  #result-form-input-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  .result-form-input {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .result-form-input-narrow {
    width: 100%;
  }
  .result-form-input label {
    min-width: 50px;
  }

  .result-form-input-android label {
    min-width: 102px;
  }

  .result-form-input input {
    width: 100%;
  }
  #submit-icon {
    display: none;
  }
  #result-form-mobile-submit {
    margin-top: 0;
    display: block;
  }
  /* Results screen -- end */
}

input[type='checkbox'] {
  display: none;
}

.toggle {
  cursor: pointer;
  width: 80px;
  height: 40px;
  background: #5fc9f8;
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: 2px solid #333;
  position: relative;
  transition: background-color 0.3s;
}

.toggle-icon {
  font-size: 24px;
  line-height: 1;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: margin-left 0.3s;
}

.toggle-icon:before {
  display: flex;
  content: url(../img/appleIcon.svg);
  margin-left: 5px;
  background-color: #fff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

input:checked + .toggle {
  background: #7cce8b;
}

#switch:checked + .toggle .toggle-icon:before {
  content: url(../img/droidIcon.svg);
  margin-left: 45px;
  transition: 0.3s;
}

#toggle-container {
  display: flex;
  justify-content: center;
}

#toggle-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  margin: 12px;
}

.toggle-labels {
  width: 80px;
  font-weight: 700;
  padding: 4px;
}

#toggle-label-left {
  text-align: right;
}

#toggle-label-right {
  text-align: left;
}
