body {
    display: flex;
    flex-direction: column;
    background-color: #7cce8b;
    height: 100%;
    text-align: center;
}

header {
    text-align: right;
}

#github-home {
    padding-right: 50px;
}

main {
    flex-grow: 1;
    margin: 0 auto;
    width: 60%;
    max-width: 800px;
}

#name {
    text-decoration: underline;
}

form {
    margin: 0 auto;
    width: 100%;
}

form input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
} 

form input[type="text"] {
    padding: 5px;
    height: 40px;
}

form input[type="submit"] {
    border-radius: 5px;
    background-color: #333333;
    padding: 6px;
    height: 40px;
    color: #ffffff;
}

#results {
    background-color: #f3f3f3;
}

#results .padding {
    padding-left: 50px;
    padding-right: 50px;
}

#results header {
    background-color: #7cce8b;
    display: flex;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
}

#results h1 {
    margin: 0;
}

#results h1 a {
    color: #000000;
}

#results h2 {
    margin: 0;
    font-size: 18px;
    text-align: left;
    padding-top: 16px;
    padding-left: 4px;
}

#results main {
    padding-top: 10px;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

#results form {
    display: grid;
    width: 100%;
    grid-template-columns: auto 20% 20% 40px;
    grid-template-rows: auto 40px;
    gap: 5px 10px;
}

.mini {
    display: none;
}

#results form label {
    text-align: left;
    font-size: small;
    font-weight: bold;
    padding-left: 4px;
}

@media (min-width: 881px) {
    #results form label[for="bundle"] {
        grid-column-start: span 2;
    }
}

#results form a {
    width: 40px;
}

pre {
    background-color: #ffffff;
    text-align: left;
    padding: 30px;
    overflow-x: auto; 
}

.fa-redo-alt {
    color: #333333;
    line-height: 40px !important;
    font-size: 35px;
}

.fa-github {
    color: #333333;
    font-size: 40px;
    line-height: 70px !important;
}

footer, 
footer a {
    color: #333333;
    padding: 8px;
}

@media (max-width: 880px) {
    main { width: 80%; }
    #description { display: none; }
    #results main { width: 95%; }
    #results form { 
        display: grid;
        grid-template-columns: 55px auto;
        grid-template-rows: 40px 40px 40px 40px;
        line-height: 40px;
    }
    #results form input[type=submit]  {
        grid-column-start: span 2;
        padding: 0;
    }
    .mini {
        display: grid;
    }
    .wide {
        display: none;
    }
    #results .padding { 
        padding-left: 15px;
        padding-right: 15px;
    }
}
